.auth-container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.auth-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.auth-container button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.dashboard-container {
  width: 80%;
  margin: 20px auto;
}

.dashboard-container ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-container li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container button {
  margin-left: 10px;
}
.reviews-container {
  width: 60%;
  margin: 20px auto;
}

.reviews-container input,
.reviews-container textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.reviews-container button {
  margin-bottom: 20px;
}

.reviews-container ul {
  list-style: none;
  padding: 0;
}

.reviews-container li {
  background: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}
